DATABASE_URL="postgresql://postgres:postgres@localhost:5432/maker_wallet?schema=public"
JWT_SECRET="change-me-with-16-or-more-characters"
ENCRYPTION_SECRET="change-me-with-32-or-more-characters"
PORT=3333
FRONTEND_URL="http://localhost:3000"
